/* ============ VARIABLES ============*/
:root {
  --primary-font: "Montserrat", sans-serif;
  --body-bg-color: rgb(250 250 250);
  --primary-text-color: rgb(17 17 17);
  --secondary-text-color: rgb(255 255 255);
  --accent-color: rgb(253 146 34);
  --transition-duration-and-func: 250ms linear;
}

/* ============ /VARIABLES ============*/

/* ============ COMMON STYLES ============*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--body-bg-color);
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.sections {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
}

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============ /COMMON STYLES ============*/

/* ============ HEADER STYLES ============*/

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;

  padding: 28px 0;

  color: var(--primary-text-color);
  fill: none;
}

.header-logo span {
  font-style: italic;
}

.header-logo .logo-icon {
  margin-left: 4px;
}

.menu {
  display: flex;
  column-gap: 24px;

  margin-left: auto;
}

.menu-link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  transition: color var(--transition-duration-and-func);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.social-list {
  display: flex;
  column-gap: 18px;

  margin-left: 90px;
}

.social-link {
  display: block;
  padding: 28px 0;
  line-height: 0;
  fill: none;
  stroke: var(--primary-text-color);

  transition: stroke var(--transition-duration-and-func);
}

.social-link:hover,
.social-link:focus {
  stroke: var(--accent-color);
}

/* ============ /HEADER STYLES ============*/

/* ============ HERO STYLES ============*/

.hero-section {
  padding-top: 381px;
  padding-bottom: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-bottom: 72px;

  color: var(--secondary-text-color);
  background-color: rgb(30 24 35);
  background-image:
    linear-gradient(rgb(30 24 35 / 0.4), rgb(30 24 35 / 0.4)),
    url("/images/hero/bg.jpg");
  background-size: cover;
}

.hero-container {
  padding-left: 56px;
  padding-right: 56px;
}

.hero-title {
  max-width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.hero-bottom {
  display: flex;
  align-items: center;
}

.order-button {
  min-width: 144px;
  padding: 14px 40px;
  margin-right: 14px;

  border: none;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition:
    color var(--transition-duration-and-func),
    background-color var(--transition-duration-and-func);
}

.order-button:hover,
.order-button:focus {
  background-color: rgb(252 241 224);
  color: var(--accent-color);
}

.how-made-link {
  display: block;
  min-width: 183px;

  border: 1px solid rgb(255 255 255);
  border-radius: 100px;
  padding: 14px 40px;

  font-weight: 600;
  font-size: 14px;
  color: var(--secondary-text-color);

  transition:
    border-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}

.how-made-link:hover,
.how-made-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.scroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;

  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: rgb(255 255 255);

  transition: color var(--transition-duration-and-func);
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: rgb(253 146 34);
}

.scroll-down-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  border-radius: 50%;
  background-color: rgb(255 255 255);
  fill: rgb(253 146 34);

  transition:
    background-color var(--transition-duration-and-func),
    fill var(--transition-duration-and-func);
}

.scroll-down-link:hover .scroll-down-icon-wrapper,
.scroll-down-link:focus .scroll-down-icon-wrapper {
  background-color: rgb(253 146 34);
  fill: rgb(255 255 255);
}

/* ============ /HERO STYLES ============*/

/* ============ BENEFIT STYLES ============*/

.benefit-section {
  background-color: rgb(30 24 35);
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.benefit-list {
  display: flex;
  column-gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.benefit-item {
  position: relative;
  width: calc((100% - 2 * 88px) / 3);
}

.benefit-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -18px;

  width: 1px;
  height: 124px;
  transform: translateY(-50%);
  background-color: rgb(255 255 255 / 0.5);
}

.benefits-list-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -18px;
  width: 1px;
  height: 124px;
  transform: translateY(-50%);
  background-color: #ffffff80;
  content: "";
}

.benefit-item-title {
  font-weight: 600;
  font-size: 18px;

  margin-bottom: 18px;
}

.benefit-item-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgb(255 255 255 / 0.7);
}

.benefit-icon-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;

  border: 1px solid rgb(255 255 255 / 0.5);
  border-radius: 50%;
}

/* ============ /BENEFIT STYLES ============*/

/* ============ INGREDIENTS STYLES ============*/

.ingredients-section-title {
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.ingredients-content {
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;

  margin-bottom: 54px;
}

.ingredients-list {
  display: flex;
  column-gap: 24px;
}

.ingredients-thumb {
  position: relative;
  overflow: hidden;
}

.ingredients-list-item {
  width: calc((100% - 3 * 24px) / 4);
  padding: 28px 32px;

  border-radius: 15px;
  background-color: rgb(255 255 255);
  border: 1px solid rgb(253 146 34);
  color: var(--primary-text-color);
}

.ingredients-list-item:hover .ingredients-overlay {
  transform: translateY(0);
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: rgb(253 146 34);
  color: rgb(255 255 255);
}

.ingredients-list-item:nth-child(4n + 3) {
  background-color: rgb(30 24 35);
  border-color: rgb(30 24 35);
  color: rgb(255 255 255);
}

.ingredients-list-img {
  margin-bottom: 36px;
}

.ingredients-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredients-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */

  padding: 20px;

  background-color: rgb(255 255 255);
  border-radius: 15px;
  color: var(--primary-text-color);

  transform: translateY(100%);
  transition: transform var(--transition-duration-and-func);
}

.ingredients-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  margin-bottom: 8px;
}

.ingredients-overlay-list {
  display: flex;
  column-gap: 6px;

  margin-bottom: 14px;
}

.ingredients-overlay-item button {
  border-radius: 35px;
  padding: 6px 16px;
  border: none;

  font-size: 10px;
  line-height: 1.2;
}

.ingredients-overlay-item:first-child button {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.ingredients-overlay-item:last-child button {
  border: 1px solid var(--accent-color);
  background-color: rgb(250 250 250);
  color: var(--primary-text-color);
}

.ingredients-overlay-text {
  display: -webkit-box;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);

  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ============ /INGREDIENTS STYLES ============*/

/* ============ HOW MADE STYLES ============*/

.how-made-section-title {
  margin-bottom: 50px;
}

.how-made-section-title {
  margin-bottom: 50px;
}

.how-made-content-wrapper {
  display: flex;
  column-gap: 20px;
}

.how-made-img {
  border-radius: 15px;
}

.how-made-text-content {
  padding: 32px;
}

.how-made-text-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-text-color);
  margin-bottom: 28px;
}

.how-made-list-item {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);

  padding-left: 16px;
}

.how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.how-made-list-item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid rgb(236 237 237);
  background-color: rgb(76 76 76);
}

/* ============ /HOW MADE STYLES ============*/

/* ============ REVIEWS STYLES ============*/

.reviews-section-title {
  margin-bottom: 91px;
}

.reviews-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 50px;
}

.reviews-list-item {
  position: relative;
  width: calc((100% - 2 * 24px) / 3);

  padding: 54px 24px 24px 24px;

  border: 1px solid rgba(17 17 17 / 0.1);
  border-radius: 15px;

  box-shadow: 0 9px 100px 0 rgb(17 17 17 / 0.03);
  background-color: rgb(255 255 255);
}

.reviews-list-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.reviews-list-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--primary-font);

  margin-bottom: 24px;
}

.review-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(17 17 17 / 0.7);
}

.leave-review-btn {
  display: block;
  min-width: 222px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
  font-size: 18px;
  color: var(--primary-text-color);

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  padding: 14px 40px;
  /* width: 222px;
  height: 50px; */

  transition:
    color var(--transition-duration-and-func),
    background-color var(--transition-duration-and-func);
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* ============ /REVIEWS STYLES ============*/

/* ============ FOOTER STYLES ============*/

.page-footer {
  background-color: rgb(30 24 35);
  padding: 50px 32px;

  color: var(--secondary-text-color);
}

.page-footer-top-block {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(255 255 255 / 0.1);
  padding-bottom: 50px;
}

.page-footer-title {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.page-footer-contacts {
  font-style: normal;
}

.contact-slogan {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.contact-list-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  transition: color var(--transition-duration-and-func);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.page-footer-bottom-block {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  align-items: center;
}

.page-footer-menu {
  flex-grow: 0;
  margin-left: 0;
}

.page-footer-menu .menu-link {
  padding: 18px 0;
}

.subscribe-form {
  display: flex;
  column-gap: 8px;
}

.subscrime-email-input {
  min-width: 313px;

  border: 1.5px solid rgb(255 255 255 / 0.15);
  border-radius: 30px;
  padding: 13px 24px;

  color: inherit;
  background-color: transparent;
  outline: none;

  font-size: 18px;
  letter-spacing: -0.02em;

  transition: border-color var(--transition-duration-and-func);
}

.subscrime-email-input:hover,
.subscrime-email-input:focus {
  border: 1.5px solid var(--accent-color);
}

.subscrime-email-input:-webkit-autofill,
.subscrime-email-input:-webkit-autofill:hover,
.subscrime-email-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(30 24 35) inset !important;
  -webkit-text-fill-color: rgb(255 255 255) !important;

  transition:
    background-color 5000s ease-in-out 0s,
    border var(--transition-duration-and-func);
}

.subscrime-email-input::placeholder {
  color: rgb(255 255 255 / 0.3);
}

.subscribe-btn {
  min-width: 137px;
  padding: 17px 40px;

  border: none;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition:
    color var(--transition-duration-and-func),
    background-color var(--transition-duration-and-func);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: rgb(252 241 224);
  color: var(--accent-color);
}

/* ============ /FOOTER STYLES ============*/

/* ============ MODAL STYLES ============*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(46 47 66 / 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 517px;
  min-height: 794px;
  padding: 40px;
  border-radius: 15px;

  background-color: rgb(250 250 250);

  transition: transform var(--transition-duration-and-func);
}

.backdrop:not(.is-open) .modal {
  /* transform: translate(-50%, -50%) scale(1.5); */
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;

  padding: 0;
  cursor: pointer;
  stroke: var(--primary-text-color);
  background-color: transparent;
  border: none;
}

.modal .form-caption {
  max-width: 300px;
  margin-bottom: 40px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.review-form .field {
  margin-bottom: 18px;
}

.review-form .input-label {
  display: block;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgb(64 64 64 / 0.3);

  margin-bottom: 8px;
}

.review-form .field-input {
  position: relative;
}

.review-form .field-input input,
.review-form textarea {
  width: 100%;

  font-size: 18px;
  letter-spacing: -0.02em;

  padding: 22px 24px 22px 62px;

  outline: transparent;
  border: 1.5px solid rgb(17 17 17 / 0.05);
  border-radius: 13px;

  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 0.03);

  transition: border-color var(--transition-duration-and-func);
}

.review-form textarea {
  padding: 22px 24px;
  height: 137px;
}

.review-form textarea::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgb(64 64 64 / 0.3);
}
.review-form .field-input input:focus,
.review-form textarea:focus {
  border-color: rgb(253 146 34);
}

.review-form input + .field-icon {
  stroke: rgb(64 64 64);
  fill: none;

  transition: stroke var(--transition-duration-and-func);
}

.review-form input:focus + .field-icon {
  stroke: rgb(253 146 34);
}

.review-form .field-icon {
  position: absolute;
  top: 22px;
  left: 24px;
}

.review-form .privacy-field {
  margin-bottom: 40px;
}

.review-form input[type="checkbox"] + label > span {
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;

  margin-right: 12px;

  fill: transparent;

  border-radius: 6px;
  border: 1px solid rgb(17 17 17 / 0.14);

  transition:
    background-color var(--transition-duration-and-func),
    border-color var(--transition-duration-and-func),
    fill var(--transition-duration-and-func);
}

.review-form input[type="checkbox"] + label > .icon {
  width: 10px;
  height: 10px;

  /* transition: ; */
}

.review-form input[type="checkbox"]:checked + label > span {
  border: none;
  background-color: rgb(253 146 34);
  fill: rgb(255 255 255);
}

.review-form .link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.review-form .submit-btn {
  display: block;

  border-radius: 100px;
  padding: 14px 40px;
  min-width: 117px;
  margin-right: auto;

  font-weight: 600;
  font-size: 14px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;

  transition: color var(--transition-duration-and-func),
    background-color var(--transition-duration-and-func);
}

.review-form .submit-btn:hover,
.review-form .submit-btn:focus {
  color: var(--accent-color);
  background-color: rgb(252 241 224);;
}

/* ============ /MODAL STYLES ============*/
